
@{
    ViewBag.Title = "Show";
}

<div style="text-align:center">
    <br />
    <h2>@ViewBag.Location.City</h2>
    <h3>@ViewBag.Location.Address</h3>


    @if (User.IsInRole("Administrator"))
    {
        <a href="/Locations/Edit/@ViewBag.Location.LocationId" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
           
                Editeaza locatia
            
        </a>
        @*<form method="post" action="/Locations/Delete/@ViewBag.LocationId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit" class="btn btn-outline-danger">Sterge Locatie</button>
        </form>*@
        <hr />
        <a href="/Locations/New" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Adauga locatie</a>

    }

    <a href="/Locations/Index" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Inapoi la locatii</a>
    <br />
    <br />
    
</div>

<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>

        function myMap() {
            var myCenter = new google.maps.LatLng(@ViewBag.Latitude, @ViewBag.Longitude);
           var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGiM9eKTPSUqdPUGJQUIQS7b4A9pmGCvw&callback=myMap"></script>
</fieldset>
