@model MedOffice.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h2>Editare profil</h2>

<form method="post" action="/DoctorDetails/Edit">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Hidden("Id")


    @Html.Label("UserName", "Nume utilizator")
    <br />
    @Html.Editor("Username")
    <br />
    <br />

    @Html.Label("LastName", "Nume")
    <br />
    @Html.Editor("LastName")
    <br />
    <br />

    @Html.Label("FirstName", "Prenume")
    <br />
    @Html.Editor("FirstName")
    <br />
    <br />

    @Html.Label("PhoneNumber", "Numar telefon")
    <br />
    @Html.Editor("PhoneNumber")
    <br />
    <br />
    @Html.Label("Description", "Descriere ")
    <br />
    @Html.Editor("Description")
    <br />
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.UserPhoto, new { @class = "col-md-10 control-label" })
        <div class="col-md-10 ">
            <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
        </div>
    </div>
    <button class="btn btn-success" type="submit">Modifica profil</button>
</form>